In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report,confusion_matrix
%matplotlib inline

In [5]:
df = pd.read_csv('/root/Desktop/VehicleInsuranceData.csv')

In [6]:
df.head()

,Unnamed: 0,clv,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location.Code,Marital.Status,...,Months.Since.Policy.Inception,Number.of.Open.Complaints,Number.of.Policies,Policy.Type,Policy,Renew.Offer.Type,Sales.Channel,Total.Claim.Amount,Vehicle.Class,Vehicle.Size
0,1,2763.519279,No,Basic,Bachelor,Employed,F,56274,Suburban,Married,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,2,6979.535903,No,Extended,Bachelor,Unemployed,F,0,Suburban,Single,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,3,12887.431650,No,Premium,Bachelor,Employed,F,48767,Suburban,Married,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,4,7645.861827,No,Basic,Bachelor,Unemployed,M,0,Suburban,Married,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,5,2813.692575,No,Basic,Bachelor,Employed,M,43836,Rural,Single,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [7]:
df.isnull().sum()

Unnamed: 0                       0
clv                              0
Response                         0
Coverage                         0
Education                        0
EmploymentStatus                 0
Gender                           0
Income                           0
Location.Code                    0
Marital.Status                   0
Monthly.Premium.Auto             0
Months.Since.Last.Claim          0
Months.Since.Policy.Inception    0
Number.of.Open.Complaints        0
Number.of.Policies               0
Policy.Type                      0
Policy                           0
Renew.Offer.Type                 0
Sales.Channel                    0
Total.Claim.Amount               0
Vehicle.Class                    0
Vehicle.Size                     0
dtype: int64

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,8630.0,4560.576825,2637.448711,1.000000,2280.250000,4547.500000,6852.75000,9134.000000
clv,8630.0,6725.281515,3934.876313,1898.007675,3858.177183,5569.220419,8456.40853,21235.445570
Income,8630.0,37586.405794,30453.838594,0.000000,0.000000,33817.000000,62250.75000,99981.000000
Monthly.Premium.Auto,8630.0,91.677057,32.648209,61.000000,68.000000,81.000000,108.00000,298.000000
Months.Since.Last.Claim,8630.0,15.084473,10.048979,0.000000,6.000000,14.000000,23.00000,35.000000
Months.Since.Policy.Inception,8630.0,48.004287,27.880693,0.000000,24.000000,48.000000,71.00000,99.000000
Number.of.Open.Complaints,8630.0,0.389108,0.920491,0.000000,0.000000,0.000000,0.00000,5.000000
Number.of.Policies,8630.0,3.020626,2.445994,1.000000,1.000000,2.000000,4.00000,9.000000
Total.Claim.Amount,8630.0,427.131607,282.722326,0.099007,268.881398,376.880363,542.40000,2893.239678

In [10]:
df.columns

Index(['Unnamed: 0', 'clv', 'Response', 'Coverage', 'Education',
       'EmploymentStatus', 'Gender', 'Income', 'Location.Code',
       'Marital.Status', 'Monthly.Premium.Auto', 'Months.Since.Last.Claim',
       'Months.Since.Policy.Inception', 'Number.of.Open.Complaints',
       'Number.of.Policies', 'Policy.Type', 'Policy', 'Renew.Offer.Type',
       'Sales.Channel', 'Total.Claim.Amount', 'Vehicle.Class', 'Vehicle.Size'],
      dtype='object')

In [19]:
df['Policy.Type'].value_counts()

Personal Auto     6412
Corporate Auto    1866
Special Auto       352
Name: Policy.Type, dtype: int64